{% extends "base_generic.html" %}

{% block content %}
<div class="gy-5">
    {% if object %}
    <h1>{{ object.tool}}</h1>
    {% else %}
    <h1>New Account</h1>
    {% endif %}
    <div class="row py-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    {% if object and taiga_auth_form %}
    <div class="row py-3">
        <h3>Credentials</h3>
        <form action="{% url 'assessment:taiga-auth' account.pk %}" method="post">
            {% csrf_token %}
            {{taiga_auth_form.as_p}}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    {% endif %}
    {% if object %}
    <div class="row py-3">
        <a href="{% url 'assessment:account-delete' account.pk %}">Delete account</a>
    </div>
    {% endif %}

</div>
{% endblock %}