{% extends "base-auth.html" %}

{% block content %}

<div class="mx-auto flex-column card shadow-sm" style="width: 100%; max-width: 500px;">
  <form method="post" action="{% url 'login' %}" class="{% if form.errors%} was-validated {% endif %}">

    <div class="card-header text-center">
      <h5 v-if="title" class="card-title">Please sign in</h5>
    </div>
    <div class="card-body">
      {% csrf_token %}
      {% if form.errors %} <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      <div class="row mb-3">
        <label for="{{form.username.id_for_label}}" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input name="{{form.username.html_name}}" type="username" class="form-control"
            id="{{form.username.id_for_label}}" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="{{form.password.id_for_label}}" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input name="{{form.password.html_name}}" type="password" class="form-control"
            id="{{form.password.id_for_label}}" required>
        </div>
      </div>

    </div>
    <div class="card-footer text-center">
      <div class="btn-group">

        <button class="btn btn-lg btn-outline-secondary" type="submit">Sign in</button>
      </div>
    </div>
  </form>
</div> {% endblock %}