{% extends "base-auth.html" %}

{% block content %}

<div class="mx-auto flex-column card shadow-sm" style="width: 100%; max-width: 500px;">

  <div class="card-header text-center">
    <div class="btn-group">
      <a class="btn btn-outline-secondary active" href="{% url 'login'%}">Login</a>
      <a class="btn btn-outline-secondary" href="{% url 'signup'%}">Sign up</a>
    </div>
  </div>
  <div class="card-body">
    <p>Please sign in</p>
    <form method="post" action="{% url 'login' %}" class="{% if form.errors%} was-validated {% endif %}">
      {% csrf_token %}
      {% if form.errors %} <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      <div class="row mb-3">
        <label for="{{form.username.id_for_label}}" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input name="{{form.username.html_name}}" type="username" class="form-control"
            id="{{form.username.id_for_label}}" required>
        </div>
      </div>
      <div class="row mb-4">
        <label for="{{form.password.id_for_label}}" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input name="{{form.password.html_name}}" type="password" class="form-control"
            id="{{form.password.id_for_label}}" required>
        </div>
      </div>
      <div class="d-grid">
        <button class="btn btn-lg btn-outline-secondary" type="submit">Sign in</button>
      </div>
    </form>
  </div>

</div> {% endblock %}