{% extends "base-vue.html" %}

{% block content %}
<div class="gy-5">
    {% if object %}
    <h1>{{ object.tool}}</h1>

    {% else %}
    <h1>New Account</h1>
    {% endif %}
    <div class="row py-3">
        <form method="post">
            {% csrf_token %}
            <div class="invalid-feedback">
                {{ form.non_field_errors }}
            </div>

            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    {% if account %}

    {% if account.credentials %}
    <div class="row py-3">
        <div class="col-sm-3">
            <p>Credentials saved!</p>
            <pre>{{ account.credentials }}</pre>
            <a href="{% url 's_accounts:delete-credentials' account.pk %}" class="btn btn-danger">Delete Credentials</a>
        </div>
    </div>
    {% endif %}


    <div class="row py-3">
        <div class="col-sm-3">
            <a href="{% url 's_accounts:delete' account.pk %}" class="btn btn-danger">Delete account</a>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}