{% extends "base_generic.html" %}

{% block content %}
<div class="gy-5">
    {% if object %}
    <h1>{{ object.tool}}</h1>
    {% else %}
    <h1>New Account</h1>
    {% endif %}
    <div class="row py-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
    {% if object %}
    <div class="row py-3">
        <a href="{% url 'accounts:delete' account.pk %}">Delete account</a>
    </div>
    {% endif %}

</div>
{% endblock %}