{% block html %}
<!doctype html>
<html {% block html_tag_attributes %}{% endblock %}>

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" href="favicon.ico"> -->
    <title>Privacy Self Assessment Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% endblock %}
</head>

<body {% block body_tag_attributes %}{% endblock %}>
    {% block body %}
    {% endblock %}
</body>

</html>
{% endblock %}