<head><link href="http://127.0.0.1:8080/js/app.js" rel="preload" as="script"><link href="http://127.0.0.1:8080/js/chunk-vendors.js" rel="preload" as="script"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed (from ./node_modules/html-webpack-plugin/lib/loader.js):
  Error: ENOENT: no such file or directory, open '/home/student/src/privacy-self-assessment-dashboard-backend/public  /index.html':
  Error: ENOENT: no such file or directory, open '/home/student/src/privacy-self-assessment-dashboard-backend/public  /index.html'
  
  - compiler.js:79 
    [privacy-self-assessment-dashboard-backend]/[html-webpack-plugin]/lib/compiler.js:79:16
  
  - Compiler.js:343 
    [privacy-self-assessment-dashboard-backend]/[webpack]/lib/Compiler.js:343:11
  
  - Compiler.js:681 
    [privacy-self-assessment-dashboard-backend]/[webpack]/lib/Compiler.js:681:15
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [privacy-self-assessment-dashboard-backend]/[tapable]/lib/Hook.js:154:20
  
  - Compiler.js:678 
    [privacy-self-assessment-dashboard-backend]/[webpack]/lib/Compiler.js:678:31
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [privacy-self-assessment-dashboard-backend]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1423 
    [privacy-self-assessment-dashboard-backend]/[webpack]/lib/Compilation.js:1423:35
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [privacy-self-assessment-dashboard-backend]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1414 
    [privacy-self-assessment-dashboard-backend]/[webpack]/lib/Compilation.js:1414:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [privacy-self-assessment-dashboard-backend]/[tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1409 
    [privacy-self-assessment-dashboard-backend]/[webpack]/lib/Compilation.js:1409:36
  
  
</pre><script type="text/javascript" src="http://127.0.0.1:8080/js/chunk-vendors.js"></script><script type="text/javascript" src="http://127.0.0.1:8080/js/app.js"></script>