@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html,
body {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    font-family: 'Nunito Sans',
        sans-serif;

}

.slide-fade-enter-active {
    transition: all 0.1s ease-out;
}

.test {
    background-color: red;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}